<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <context:component-scan base-package="com.wind" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:application.properties</value>
            </array>
        </property>
    </bean>

    <dubbo:application name="wind-user-service"/>
    <dubbo:registry address="zookeeper://zk_server:2181"/>

    <dubbo:service interface="com.wind.auth.service.IUserService" ref="userService"
                   version="2.0.0" timeout="5000" retries="3"/>
    <!--<dubbo:application name="${dubbo.provider.application.name}"/>
    <dubbo:registry address="${dubbo.registry.address}"/>

    <dubbo:service interface="com.wind.user.service.IUserService" ref="userService"
                   version="${dubbo.user.version}" timeout="${dubbo.timeout}" retries="${dubbo.retries}"/>-->
</beans>
